# Data files
*.h5
*.csv
*.parq

# unignore the placeholder CSV file
!/data/nyctaxi/2015/nyc-taxi-dataset-csv-files-here.csv

# Environment variables
.env

# jupyter notebooks
.ipynb_checkpoints/

# pycharm
.idea/

# visual studio code
.vscode/

snippets/__pycache__/

datashader/
