bleach==2.1.2
bokeh==0.12.13
cloudpickle==0.5.2
colorcet==0.9.1
dask==0.16.0
-e git+https://github.com/bokeh/datashader.git@6a8cc05b31d4e07181291fa48da92f52378968e5#egg=datashader
datashape==0.5.2
decorator==4.1.2
entrypoints==0.2.3
h5py==2.7.1
html5lib==1.0.1
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.5
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
llvmlite==0.21.0
MarkupSafe==1.0
mistune==0.8.3
multipledispatch==0.4.9
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.2
numba==0.36.1
numexpr==2.6.4
numpy==1.13.3
olefile==0.44
pandas==0.21.1
pandocfilters==1.4.2
param==1.5.1
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
simplegeneric==0.8.1
six==1.11.0
tables==3.4.2
terminado==0.8.1
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.8
xarray==0.10.0
